/*
##COLORS:
-------------------------
- Prussian Blue: #022C4F
- Spindle: #BBCBDB
- Chambray: #455E75
- Bali Hai: #8295A5
- Black: #000
- White: #FFF
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/*Universal Styles*/

html {
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

img {
    width: 100%;
    height: auto;
}

li {
    display: inline-block;
    font-weight: bold;
}

a {
    font-weight: bold;
    color: #022c4f;
}

a:hover {
    color: #455e75;
}

/*Section Layout*/

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    height: 100vh;
    min-width: 350px;
}

main {
    grid-area: 3 / 1 / span 1 / -1;
    padding-top: 8vh;
    display: grid;
    grid-template-areas: "hero"
                        "content";
}

footer {
    grid-area: 4 / 1 / span 1 / -1;
}

/*Navigation*/

.nav {
    position: fixed;
    display: grid;
    grid-template-areas: "logo logo logo"
                        "nav nav nav";
    justify-content: space-between;
    width: 100%;
    border-bottom: 1.5px solid rgb(70, 70, 70, 0.15);
    background-color: rgb(255, 255, 255);
    grid-gap: 1px;
}

.logo {
    padding: 0.75em;
    display: grid;
    justify-content: center;
    align-self: center;
    grid-area: logo;
}

nav {
    grid-area: nav;
    justify-self: center;
    align-self: center;
}
.nav ul {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1;
    text-align: center;
    align-items: baseline;
    justify-items: space-between;
}

nav li {
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    border-bottom: rgba(255, 255, 255, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.5rem;
    background-color: #bbcbdb09;
    color: #022c4f;
}
.nav a {
    font-size: 1em;
}
.desktop {
    display: none;
}

@media only screen and (min-width: 760px) {
    .nav {
        grid-area: 1 / span 13 / span 1 / 13;
        grid-template-areas: "logo . . . nav nav nav";
        background-color: rgb(255, 255, 255);
    }
    .logo {
        grid-area: 1 / 1 / span 1 / span 3;
    }
    .logo img {
        height: 75px;
    }
    nav li {
        border: none;
        color:#022c4f;
        background-color: #fff;
    }
    .nav a:hover {
        border-bottom: 3px solid #455e75;
    }
}

@media only screen and (min-width: 500px) {
    .desktop {
        display: inline-block;
    } 
}

/* Main Container*/

.hero {
    grid-area: hero;
    height: 100vmin;
    background: url('../img/301.jpg') center;
    background-size: cover;
    display: grid;
    justify-content: stretch;
    align-items: center;
    border-bottom: rgb(70, 70, 70, 0.3) 1.5px solid;
}

.hero img {
    border-bottom: rgba(0, 0, 0, 0.7) 1px solid;
}

.hero h1 {
    font-size: 5rem;
    text-shadow: -1px 1px 2px #000000;
    /* background-color:rgba(0, 0, 0, 0.5); */
    padding: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
}

article {
    /* background-color: rgba(241, 241, 241, 0.603); */
    background-color: #bbcbdb41;
    padding: 2rem 1rem;
    min-height: 150px;
    margin-top: 0.5rem;
    line-height: 1.4;
    text-align: justify;
}

@media only screen and (min-width: 860px) {
    article {
        max-width: 600px;
        padding: 2rem 5rem 3rem;
        justify-self: center;
    }
}

/* Footer */

footer {
    border-top: 1px solid #bbcbdb1c;;
    /* background-color: rgb(255, 255, 255); */
    background-color: #bbcbdb41;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 5px;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 0;
    margin: 0.5rem 0 0;
}

.address {
    grid-area: 2 / 1 / 2 / -1;
    text-align: center;
    padding: 1em;
}
.address a {
    color: #022c4f;
    font-weight: normal;
}

.legal {
    grid-area: 3 / 1 / 4 / -1;
    text-align: center;
    align-self: stretch;
    color: #022c4f;
}
.legal ul {
    list-style-type: disc;
}
.legal li {
    color: #022c4f;
    font-size: 0.9em;
}

.copyright {
    grid-area: 1 / 1 / 2 / -1;
    text-align: center;
    font-weight: bold;
}

.tag {
    grid-area: 4 / 1 / 5 / -1;
    justify-self: center;
    color: rgb(66, 66, 66);
    padding-top: 1rem;
    font-size: 0.9em;
}
.tag a {
    color: black;
}
.tag a:hover {
    color: rgb(255, 0, 0);
}