/*
##COLORS:
-------------------------
- Prussian Blue: #022C4F
- Spindle: #BBCBDB
- Chambray: #455E75
- Bali Hai: #8295A5
- Black: #000
- White: #FFF
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/*Universal Styles*/

html {
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

img {
    width: 100%;
    height: auto;
}

li {
    display: inline-block;
    font-weight: bold;
}

a {
    font-weight: bold;
    color: #022c4f;
}

a:hover {
    color: #455e75;
}

h2 {
    text-align: center;
}

/*Section Layout*/

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-content: space-between;
    justify-content: start;
    height: 100vh;
}

main {
    grid-area: 3 / 1 / span 1 / -1;
    padding-top: 20vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px 10px;
}

footer {
    grid-area: 4 / 1 / span 1 / -1;
}

/*Navigation*/

.nav {
    position: fixed;
    display: grid;
    grid-template-areas: "logo logo logo logo logo"
                        "nav nav nav nav nav";
    justify-content: center;
    text-align: center;
    min-width: 100%;
    background-color: rgb(255, 255, 255);
    grid-gap: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    display: grid;
    justify-content: center;
    align-self: center;
    grid-area: logo;
    padding: 1em 0;
}

nav {
    grid-area: nav;
}

.nav ul {
    display: flex;
    padding: 0.1em;
    border: 1px solid rgba(0, 0, 0, 0.39);
    background-color: #8295a5b0;
}
.desktop {
    display: none;
}
nav a {
    color: #fff;
    letter-spacing: 1px;
}
nav li {
    font-size: 0.95em;
    margin: auto 1em;
    letter-spacing: 2px;
    color: #fff;
    letter-spacing: 1px;
    padding: 1em 0;
}

@media only screen and (min-width: 400px) {  
    .nav {
        grid-template-areas: "logo logo logo"
                            "nav nav nav";
    }
    
    .nav ul {
        background-color: transparent;
        border: none;
        padding: 0;
    } 
    nav a {
        color: #022c4f
    } 
    nav li {
        border-top: 1px solid rgba(0, 0, 0, 0.7);
        border-left: 1px solid rgba(0, 0, 0, 0.7);
        border-right: 1px solid rgba(0, 0, 0, 0.7);
        border-bottom: rgba(219, 219, 219, 0.884);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0.5rem;
        background-color: #bbcbdb09;
        color: #022c4f;
        margin: 0 2px;
    }
    .nav a {
        font-size: 1em;
    }
}


@media only screen and (min-width: 760px) {
    .nav {
        grid-area: 1 / span 13 / span 1 / 13;
        grid-template-areas: "logo . . . nav nav nav";
        background-color: rgb(255, 255, 255);
        justify-content: space-around;
    }
    .logo {
        grid-area: 1 / 1 / span 1 / span 3;
    }
    .logo img {
        height: 75px;
    }

    nav {
        align-self: center;
        justify-self: end;
    }
    nav li {
        border: none;
        color:#022c4f;
        background-color: #fff;
        font-size: 1.2rem;
    }
    .nav a:hover {
        border-bottom: 3px solid #455e75;
    }

    main {
        padding-top: 10vmin;
    }

    .hero h1 {
        font-size: 5em;
    }
}

@media only screen and (min-width: 500px) {
    .desktop {
        display: inline-block;
    } 
}

/* Main Container*/

.hero {
    grid-area: 1 / 1 / 2 /-1;
    height: 100vmin;
    background: url('../img/301.jpg') center;
    background-size: cover;
    display: grid;
    justify-content: stretch;
    align-items: center;
    border-bottom: rgb(70, 70, 70, 0.3) 1.5px solid;
}

.hero img {
    border-bottom: rgba(0, 0, 0, 0.7) 1px solid;
}

.hero h1 {
    text-shadow: -1px 1px 2px #000000;
    /* background-color:rgba(0, 0, 0, 0.5); */
    padding: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
}

section {
    /* background-color: rgba(241, 241, 241, 0.603); */
    background-color: #bbcbdb41;
    padding: 2em 0.5em;
    width: 100%;
    min-height: 150px;
    margin-top: 0.5rem;
    line-height: 1.4;
    text-align: justify;
    grid-area: auto / 1 / span 1 / -1;
}


/*CONTACT SECTION*/

.contact article {
    align-items: center;
    justify-self: flex-start;
}
.contact-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    margin: 2em;
}

.contact-card header {
    text-align: center;
}
.contact-card img {
    height: 90px;
    width: auto;
    border-radius: 50%;
    margin: 0 1em 0 0;
}

.contact-card h3 {
    text-overflow: ellipsis;
}

@media only screen and (min-width: 475) {
    .contact-card {
    }
}

@media only screen and (min-width: 760px) {
    section {
        max-width: 750px;
        padding: 2em 5em 2em;
        justify-self: center;
    }
}
/*PRODUCTS*/
.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}
.products article {
    border-radius: 50%;
    border: 1px solid #022c4f3a;
    height: 100px;
    width: 100px;
    padding: 3em;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 1em;
    background-color: #8295A5;
    color: white;
    box-shadow: 1px 1px 3px #000;
}

.products h3 {
    color: white;
    text-shadow: 1px 1px 3px #000;
}
/*REPORT A LOSS*/

form {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    padding: 0 10em;
}
form label {
    margin-top: 1em;
}
form input, textarea {
    padding: 0.2em;
    margin-top: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.322);
}

textarea {
    padding: 5em;
    width: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1em;
}

.buttons button {
    padding: 0.4em;
    margin: 0 1em;
}

/* Footer */

footer {
    border-top: 1px solid #bbcbdb1c;;
    /* background-color: rgb(255, 255, 255); */
    background-color: #bbcbdb41;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 5px;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 0;
    margin: 0.5rem 0 0;
    min-width: 100%;
}

.address {
    grid-area: 2 / 1 / 2 / -1;
    text-align: center;
    padding: 1em;
}
.address a {
    color: #022c4f;
    font-weight: normal;
}

.legal {
    grid-area: 3 / 1 / 4 / -1;
    text-align: center;
    align-self: stretch;
    color: #022c4f;
}
.legal ul {
    list-style-type: disc;
}
.legal li {
    color: #022c4f;
    font-size: 0.9em;
}

.copyright {
    grid-area: 1 / 1 / 2 / -1;
    text-align: center;
    font-weight: bold;
}

.tag {
    grid-area: 4 / 1 / 5 / -1;
    justify-self: center;
    color: rgb(66, 66, 66);
    padding-top: 1rem;
    font-size: 0.9em;
}
.tag a {
    color: black;
}
.tag a:hover {
    color: rgb(255, 0, 0);
}